*,*::before, *::after{
  box-sizing: border-box;
}


body{
  margin:0;
  background: radial-gradient(white,pink,purple);
}

.calculator-grid{
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(4,6rem);
  grid-template-rows: minmax(7rem,auto) repeat(5,6rem);
  justify-content: center;
}

.span-two{
  grid-column: span 2;
}

.output{
  grid-column: 1 / -1;
  display:flex;
  background-color: rgba(82, 78, 78, 0.596);
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: .75rem;
  word-wrap: break-word;
  word-break: break-all;
  font-size: xx-large;
}


button{
  cursor:pointer;
  font-size:2rem;
  border:1px solid white;
  outline:none;
  background-color: rgba(255, 255, 255, 0.397);

}

button:hover, button:focus{
  background-color: rgba(206, 109, 236, 0.671);
}

button:active{
  background-color: rgba(226, 4, 255, 0.822);
}